{
  "host": "localhost",
  "user": "your_username",
  "password": "your_password",
  "database": "your_database_name",
  "waitForConnections": "true",
  "connectionLimit": "10",
  "queueLimit": "0"
}
