body {
  display: flex;
  height: 130vh;
  margin: 0;
  padding: 0;
}

.detail-card {
  // background: linear-gradient(to top, rgba(150, 60, 60, 0.2), rgba(210, 200, 200, 0.2));
  background-color: var(--card-color);
  border-radius: var(--border-radius);
  padding: 1rem;
  padding-right: 2rem;
}
