<div class="scrollable-y h-70vh">
  <div [ngSwitch]="car" class="detail-card mt-6">



    <div *ngSwitchCase="undefined">
      {{error}}
    </div>





    <div *ngSwitchDefault>

      <div class="row mh-3">
        <div class="center">
          <img class="m-3 br15 box-fit-cover" src="{{car.photo}}" alt="{{car.brand}} {{car.name}}" height="400px">
        </div>
      </div>


      <div class="row">
        <div class="mh-3">
          <h3>{{car.brand}} {{car.name}}</h3>
          <p>{{car.price}}€</p>
        </div>
        <div class="expanded"></div>
        <div class="mh-3" style="width: 60px;">
          <img class="flag mh-3 box-fit-cover" width="60px" src="{{flag}}" alt="ITALAIAN">
        </div>
      </div>


    </div>


  </div>
</div>


