<!-- Search & Filter -->
<div class="mb-6">
  <app-search
    [onSearch]="onSearch"
    [filterOptions]="brands"
  >
  </app-search>
</div>



<!-- Page and limit selection -->
<div *ngIf="total() !== 0">
  <app-pagination
    [limit]="limit"
    [currentPage]="page"
    [total]="total()"
    [onChangePage]="onChangePage">
  </app-pagination>
</div>



<!-- Car List -->
<div class="scrollable-y h-70vh">

  <!-- Check for length of list -->
  <div [ngSwitch]="filteredCarList.length">

    <!-- display error if list is empty -->
    <div *ngSwitchCase="0">
      <div class="car-item">
        <p class="p-6">
          {{error}}
        </p>
      </div>
    </div>

    <!-- handle displaying a single car -->
    <div *ngSwitchCase="1">
      <article class="mt-3" *ngFor="let car of filteredCarList">
        <div class="row jc-sb">
          <app-car-card [car]="car" ></app-car-card>
          <div></div>
        </div>
      </article>
    </div>

    <!-- Handle displaying two cars -->
    <div *ngSwitchCase="2">
      <div class="grid-container">
        <article class="mt-3" *ngFor="let car of filteredCarList">
          <app-car-card [car]="car" ></app-car-card>
        </article>
        <div></div>
      </div>
    </div>

    <!-- Handle displaying n >= 3 cars -->
    <div *ngSwitchDefault>
      <div class="grid-container">
        <article class="mt-3" *ngFor="let car of filteredCarList">
          <app-car-card [car]="car"></app-car-card>
        </article>
      </div>
    </div>


  </div>
</div>

