<div class="mt-9 mb-6">
  <input id="car-search" class="ph-3 mr-3" #search type="text" placeholder="Ferrari F40" (keydown.enter)="searchLegoCars(search.value)">
  <button (click)="searchLegoCars(search.value)">Search</button>
</div>

<div class="scrollable-y h-70vh">

  <div [ngSwitch]="filteredCarList.length">


    <div *ngSwitchCase="0">
      <div class="car-item">
        <p class="p-6">
          {{error}}
        </p>
      </div>
    </div>


    <div *ngSwitchCase="1">
      <article class="mt-3" *ngFor="let car of filteredCarList">
        <div class="row jc-sb">
          <app-car-card [car]="car" ></app-car-card>
          <div></div>
        </div>
      </article>
    </div>


    <div *ngSwitchCase="2">
      <div class="grid-container">
        <article class="mt-3" *ngFor="let car of filteredCarList">
          <app-car-card [car]="car" ></app-car-card>
        </article>
        <div></div>
      </div>
    </div>


    <div *ngSwitchDefault>
      <div class="grid-container">
        <article class="mt-3" *ngFor="let car of filteredCarList">
          <app-car-card [car]="car"></app-car-card>
        </article>
      </div>
    </div>


  </div>
</div>

