.carItem {
  height: 100px;
  background-color: var(--card-color);
  border-radius: var(--border-radius);
  will-change: transform, background-color;
  transition: transform 500ms, background-color 500ms;
}

.carItem:hover {
  transform: translateY(-5px);
  background-color: var(--primary-12);
}

.flag {
  object-fit: contain;
  width: 60px;
  border-radius: 5px;
  outline: solid 1px #00000020;
}


.linkButton{
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: #eee;
  cursor: pointer;
  text-decoration: none;
}
