<div class="row page-container">
  <div *ngFor="let page of pages">
    <div *ngIf="page != currentPage;else selectedPage">
      <div class="page" (click)="changePage(page)">
        <p>{{page}}</p>
      </div>
    </div>


    <ng-template #selectedPage>
      <div class="selected-page page">
        <p>{{page}}</p>
      </div>
    </ng-template>

  </div>
</div>




<div class="row jc-sb pb-3">

  <p class="small-text expanded">Total: {{total}}</p>

  <div class="row jc-e expanded">
    <p class="small-text mr-3">Artikel pro Seite:</p>
    <select class="limit-selection" (change)="changeLimit($event)">
      <option class="limit-option" *ngFor="let option of limits" [value]="option">{{option}}</option>
    </select>
  </div>

</div>
