/* You can add global styles to this file, and also import other style files */

// Fonts
@font-face {
  font-family: Inlanders;
  src: url(/assets/fonts/Inlanders.otf);
  font-weight: normal;
  font-style: normal;
}


// Body
body {
  background: linear-gradient(#FF000020, #FF000010) no-repeat center center;
  height: 100vh;

  // Colors:
  --primary: #E3000B;
  --primary-50: #E3000BC8;
  --primary-25: #E3000B64;
  --primary-12: #E3000B32;
  --secondary: #FFED00;
  --secondary-50: #FFED00C8;
  --secondary-25: #FFED0064;
  --secondary-12: #FFED0032;
  --light-text: #FAFAFA;
  --dark-text: #272727;
  --card-color: #E3000B16;
  --error: #000000;
  --warning: #000000;
  --success: #000000;

  // Border radius:
  --border-radius: 8px;
}


// Scroll & Overflow logic
body {
  overflow-y: hidden;
}

.scrollable-y {
  overflow-y: scroll;
  padding: 0 0;
}

.scrollable-y::-webkit-scrollbar {
  display: none;
}


// Header
header {
  background: linear-gradient(90deg, var(--primary), var(--primary-12));
  outline: solid var(--primary-25) 1px;
  padding: 20px;
  border-radius: var(--border-radius);
}

.header-container {
  border-radius: var(--border-radius);
  background: url('assets/header-container.png') no-repeat center center;
  background-size: cover;
}


// Text styles
.light-text {
  color: var(--light-text);
}

.small-text {
  font-size: 14px;
}

body, h2, h3, h4, h5, h6, p, input, button, option {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--dark-text);
}

h1 {
  font-family: 'Inlanders';
  font-size: 50px;
  padding: 0;
  margin: 20px 0;
}

label {
  font-size: 18px;
}

input, button {
  display: inline-block;
}

// Input field
input {
  max-width: 400px;
  width: auto;
  min-width: none;
  height: 45px;
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  outline-color: var(--light-text);
  outline-width: 2px;
  background-color: var(--light-text);
  will-change: outline;
  transition: outline 50ms;
}

input:focus {
  outline: solid var(--primary-12) 2px;
}


// Button styling
button {
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  background-color: var(--primary-50);
  color: var(--light-text);
  height: 45px;
  padding: 15px;
  will-change: outline, background-color;
  transition: outline 500ms, background-color 500ms;
}

button:hover {
  background-color: var(--primary);
  outline: solid 1px var(--primary-50);
}

// Image styling
img {
  border-radius: var(--border-radius);
  outline: solid 1px #00000020;;
}

//links
a {
  text-decoration: none;
  color: transparent;
}

.logo {
  outline: none;
  border-radius: none;
}


// Box fits
.box-fit-cover{
  object-fit: cover;
}

.box-fit-fill{
  object-fit: fill;
}

.box-fit-contain{
  object-fit: contain;
}


// Rows & Columns
.row {
  display: flex;
  width: 100%;
  align-items: center;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}


// Paddings
.p-0 {
  padding: 0;
}

.p-3 {
  padding: 1rem;
}

.p-6 {
  padding: 2rem;
}

.p-9 {
  padding: 3rem;
}

.ph-3 {
  padding: 0 1rem;
}

.ph-6 {
  padding: 0 2rem;
}

.ph-9 {
  padding: 0 3rem;
}

.pv-3 {
  padding: 1rem 0;
}

.pv-6 {
  padding: 2rem 0;
}

.ph-9 {
  padding: 3rem 0;
}

pt-3 {
  padding-top: 1rem;
}

pt-6 {
  padding-top: 2rem;
}

pt-9 {
  padding-top: 3rem;
}

pb-3 {
  padding-bottom: 1rem;
}

pb-6 {
  padding-bottom: 2rem;
}

pb-9 {
  padding-bottom: 3rem;
}

pl-3 {
  padding-left: 1rem;
}

pl-6 {
  padding-left: 2rem;
}

pl-9 {
  padding-left: 3rem;
}

pr-3 {
  padding-right: 1rem;
}

pr-6 {
  padding-right: 2rem;
}

pr-9 {
  padding-right: 3rem;
}


// Margins
.m-0 {
  margin: 0;
}

.m-3 {
  margin: 1rem;
}

.m-6 {
  margin: 1rem;
}

.m-9 {
  margin: 1rem;
}

.mh-3 {
  margin: 0 1rem;
}

.mh-6 {
  margin: 0 2rem;
}

.mh-9 {
  margin: 0 3rem;
}

.mv-3 {
  margin: 1rem 0;
}

.mv-6 {
  margin: 2rem 0;
}

.mv-9 {
  margin: 3rem 0;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-6 {
  margin-right: 2rem;
}

.mr-9 {
  margin-right: 3rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-6 {
  margin-left: 2rem;
}

.ml-9 {
  margin-left: 3rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 3rem;
}

.m-auto {
  margin: 0 auto;
}

.mh-auto {
  margin: 0 auto;
}

.mv-auto {
  margin: auto 0;
}

// Heights
.h-70vh {
  height: 70vh;
}

// Other

.box-shadow {
  box-shadow: 5px 5px 10px var(--box-d)
}

.expanded {
  flex: 1;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mw-1250 {
  max-width: 1250px;
}

.jc-center {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-s {
  justify-content: start;
}

.jc-e {
  justify-content: end;
}

