/* You can add global styles to this file, and also import other style files */

body {
  background: linear-gradient(#FF000015, #FF000020);
  min-height: 100vh;
  max-height: none;

  // Colors:
  --primary: #E3000B;
  --primary-50: #E3000BC8;
  --primary-25: #E3000B64;
  --primary-12: #E3000B32;
  --secondary: #FFED00;
  --secondary-50: #FFED00C8;
  --secondary-25: #FFED0064;
  --secondary-12: #FFED0032;
  --light-text: #FAFAFA;
  --dark-text: #272727;
  --card-color: #E3000B16;
  --error: #000000;
  --warning: #000000;
  --success: #000000;

  // Border radius:
  --border-radius: 8px;
}

header {
  background-color: var(--primary-50);
  padding: 20px;
  border-radius: var(--border-radius);
  color: var(--light-text);
}

.light-text {
  color: var(--light-text);
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family:'Franklin Gothic Bold', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  color: var(--dark-text);
}

.box-fit-cover{
  object-fit: cover;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
}

.ph-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mh-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mh-6 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mh-9 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mv-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mv-6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mv-9 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-3 {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.mr-3 {
  margin-right: 1rem;
}

.ml-3 {
  margin-left: 1rem;
}

.mr-6 {
  margin-right: 2rem;
}

.ml-6 {
  margin-left: 2rem;
}

.mt-9 {
  margin-top: 3rem;
}

.p-3 {
  padding: 1rem;
}

.p-6 {
  padding: 2rem;
}

.p-9 {
  padding: 3rem;
}

.box-shadow {
  box-shadow: 5px 5px 10px var(--box-d)
}

.expanded {
  flex: 1;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mw-1250 {
  max-width: 1250px;
}

.jc-center {
  justify-content: center;
}

.mh-auto {
  margin: 0 auto;
}
